@{
    ViewData["Title"] = "Drink Replicator";
}

<div class="text-center half-page-center">
    <h1 class="display-4">Don't Panic</h1>
    <p>Need a Replicator ID?<br /><a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a> to get one and have access to the drink replicators.</p>
</div>
