
@{
    ViewData["Title"] = "Registration Complete";
}

<h1>Replicator Time</h1>
<div>
    <h2>Thank you for registering, @ViewData["FirstName"] @ViewData["LastName"]!</h2>
    <p>An email should be sent to @ViewData["Email"] soon with details as to your individual replicator ID and how you can use that to access the replicators to create any drink you would like.</p>
</div>